@charset "utf-8";
/* CSS Document */

.word1{
margin: 0;
padding: 0;
line-height: 1.5em;
        font-family: "Times New Roman", Times, serif;
font-size: 14px;
        color: #000000;
background: #f2e7ca url(images/templatemo_body.jpg) top center no-repeat;}




